hydra-core
dotenv
tqdm
wandb
weave
langchain_core
langchain_openai
langchain-google-genai
pandas 
numpy
scipy
scanpy
huggingface_hub
langchain_huggingface
langchain_mistralai
transformers
torch
bs4
huggingface_hub[cli]
accelerate